.catalog {
  padding-top: 30px;
}

.catalog__list {
  @include reset-list;
}

.catalog__item {
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 69px;
  }

  .catalog__item {
    padding-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 115px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    padding-bottom: 57px;
  }

  .catalog__item:not(:nth-child(3n)) {
    padding-right: 50px;
  }
}
