.contacts {
  position: relative;
  padding: 0;
  padding-bottom: 39px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    width: 100%;
    background: url("../img/bg-zigzag-line.svg") repeat-x;
    background-size: contain;
  }
}

.contacts__wrapper {
  padding-top: 40px;
  padding-bottom: 37px;
}

.contacts__title {
  @include reset-indents;
  font-size: 18px;
  line-height: 30px;
  font-weight: $font-weight-bold;
  padding-bottom: 26px;
  color: #000000;
}

.contacts__email,
.contacts__adress {
  display: flex;
}

.contacts__email-name,
.contacts__adress-name {
  @include reset-indents;
  line-height: 30px;
  padding-right: 30px;
}

.contacts__adress-text,
.contacts__email-text {
  @include reset-indents;
  line-height: 30px;
}

.contacts__email-link {
  @include color;
  padding-bottom: 4px;
  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
  }
}

.contacts__email {
  padding-bottom: 30px;
}

.contacts__map {
  display: block;
  margin: 0 auto;
  padding-bottom: 42px;
}

@media (min-width: 360px) and (max-width: 767px), (min-width: 820px) and (max-width: 1149px) {
  .contacts__adress-text br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-bottom: 56px;

    &::before {
      content: "";
      position: absolute;
      top: 62px;
      right: 51px;
      width: 49px;
      height: 82px;
      background: url("../img/icon-flag.svg") no-repeat;
    }

    &::after {
      height: 17px;
    }
  }

  .contacts__wrapper {
    padding-top: 0;
    padding-bottom: 55px;
  }

  .contacts__title {
    font-size: 42px;
    line-height: 50px;
    padding-top: 77px;
    padding-bottom: 49px;
  }

  .contacts__wrapper-info {
    display: flex;
  }

  .contacts__email,
  .contacts__adress {
    font-size: 17px;
    width: 100%;
  }

  .contacts__email-name {
    padding-right: 23px;
  }

  .contacts__adress-name {
    @include reset-indents;
    padding-right: 25px;
  }

  .contacts__map {
    padding-bottom: 56px;
  }

  .contacts__btn {
    font-size: 17px;
    width: 34%;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-left: 225px;
    padding-bottom: 105px;

    &::before {
      top: 157px;
      left: 113px;
    }

    &::after {
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 90%;
      height: 23px;
    }
  }

  .contacts__wrapper {
    padding: 0;
    padding-bottom: 79px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 165px;
    padding-bottom: 49px;
  }

  .contacts__wrapper-info {
    display: flex;
    flex-direction: column;
  }

  .contacts__map {
    position: absolute;
    top: 95px;
    right: 51px;
  }

  .contacts__btn-wrapper {
    padding: 0;
  }

  .contacts__btn {
    margin: 0;
    width: 25%;
  }
}
