.copyright__logo {
  position: relative;
  display: flex;
  justify-content: center;

  &:active {
    opacity: 0.3;
  }

  &:hover .copyright__logo-image,
  &:focus .copyright__logo-image {
    fill: #46c1ae;
  }
}

.copyright__text {
  @include reset-indents;
  font-size: 19px;
  line-height: 28px;
  font-weight: bold;
  padding-right: 56px;
  color: #000000;
}

.copyright__logo-image {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: $tablet-width) {
  .copyright__logo {
    justify-content: space-between;
  }
}
