.copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  @include reset-indents;
  font-size: 19px;
  line-height: 28px;
  font-weight: bold;
  padding-right: 30px;
  color: #000000;
}
