.form {
  padding-top: 22px;
  padding-bottom: 56px;
}

.form__header {
  @include reset-indents;
  font-size: 13px;
  padding-bottom: 24px;
}

.form__wrapper--type {
  padding-bottom: 31px;
}

.form__fieldset--type {
  padding-bottom: 23px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #62d1ba;
}


// .form__fieldset--type {
//   padding-top: 34px;
// }

.form__wrapper--color {
  padding-bottom: 18px;
}

.form__fieldset--color {
  padding-bottom: 18px;
}

.form__legend {
  @include reset-indents;
  position: relative;
  padding-right: 15px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.form__wrapper-item {
  @include reset-indents;
  position: relative;
}

.form__wrapper--type:not(:last-child) {
  // padding-bottom: 24px;
  min-height: 60px;
}

.form__label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  padding-left: 62px;
  color: #000000;
}

// .form__wrapper--color:not(:last-child) {
//   padding-bottom: 43px;
// }

.form__label--type {
  padding-top: 11px;
  padding-bottom: 13px;
}

.form__input-type + .form__label--type::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
  border-radius: 50%;
}

.form__input-type:checked + .form__label--type::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 12px;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border: 1px solid #62d1ba;
  border-radius: 50%;
}

.form__label--color {
  padding-top: 19px;
  padding-bottom: 24px;
}

.form__input-color + .form__label--color::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 40px;
  height: 39px;
  border: 2px solid #444444;
}

.form__input-color:checked + .form__label--color::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 8px;
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.form__input {
  @include color;
  font-size: 17px;
  line-height: 22px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 14px 0;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__wrapper--data {
  padding-bottom: 33px;
}

.form__fieldset--data {
  padding-bottom: 29px;
}

.form__label--data {
  padding-left: 0;
}

.form__box-data:not(:last-child) {
  padding-bottom: 21px;
}

.form__legend--email {
  padding-right: 23px;
}

.form__wrapper--contact {
  padding-bottom: 33px;
}

.form__fieldset-tel,
.form__fieldset-email {
  padding-bottom: 6px;
}

.form__input--tel {
  font-size: 19px;
}

.form__comment {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  background-color: transparent;
  min-height: 142px;
  width: 100%;
  border: 2px solid #444444;
  padding: 15px;
}

.form__fieldset-add {
  padding-bottom: 24px;
}

// .form__textarea-item {
//   padding-bottom: 10px;
// }

.form__note {
  @include reset-indents;
  @include color;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 30px;
}

.form__wrapper--add {
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .form {
    padding-top: 61px;
    padding-bottom: 50px;
  }

  .form__header {
    font-size: 17px;
    line-height: 30px;
  }

  .form__fieldset {
    border: none;
  }

  .form__wrapper--type {
    display: flex;
    align-items: baseline;
    padding-top: 28px;
    padding-bottom: 33px;
  }

  .form__wrapper-fieldset {
    width: 167px;
  }

  .form__wrapper-fieldset,
  .form__legend {
    @include reset-indents;
  }

  .form__wrapper--width {
    width: 75%;
  }

  .form__label {
    font-size: 19px;
    padding-left: 81px;
  }

  .form__label--type {
    padding-top: 21px;
    padding-bottom: 36px;
  }

  .form__input-type + .form__label--type::before {
    top: 6px;
    left: 1px;
    width: 50px;
    height: 50px;
  }

  .form__input-type:checked + .form__label--type::after {
    top: 21px;
    left: 16px;
    width: 20px;
    height: 20px;
    border: 10px solid #62d1ba;
  }

  .form__box-color {
    background-color: #f1f1f1;
  }

  .form__label--color {
    padding-top: 25px;
    padding-bottom: 33px;
  }

  .form__wrapper--color {
    display: flex;
    align-items: baseline;
    padding-top: 42px;
    padding-bottom: 35px;
  }

  .form__fieldset--color {
    width: 25%;
  }

  .form__wrapper-checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__box--color {
    width: 48%;
  }

  .form__input-color + .form__label--color::before {
    top: 8px;
    width: 54px;
    height: 54px;
  }

  .form__input-color:checked + .form__label--color::after {
    top: 26px;
    left: 11px;
    width: 34px;
    height: 22px;
    background: url("../img/icon-tick-big.svg") no-repeat;
  }

  .form__wrapper--data {
    display: flex;
    align-items: baseline;
    padding-top: 47px;
    padding-bottom: 50px;
  }

  .form__wrap-data {
    width: 71%;
  }

  .form__box-data {
    display: flex;
    align-items: baseline;
    width: 100%;
  }

  .form__box-data:not(:last-child) {
    padding-bottom: 23px;
  }

  .form__label--data {
    @include reset-indents;
    padding-right: 25px;
  }

  .form__wrapper--contacts {
    padding-top: 47px;
    padding-bottom: 28px;
  }

  .form__wrapper--contact {
    display: flex;
    align-items: baseline;
    padding-bottom: 22px;
  }

  .form__input {
    font-size: 19px;
    line-height: 24px;
    padding-left: 17px;
  }

  .form__wrapper--add {
    padding-bottom: 47px;
    padding-top: 50px;
}

  .form__add {
    display: flex;
  }

  .form__fieldset-add {
    padding-top: 17px;
  }

  .form__comment {
    font-size: 19px;
  }

  .form__wrap-note {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
  }

  .form__note {
    @include reset-indents;
    font-size: 17px;
    line-height: 30px;
  }

  .form__btn {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-top: 107px;
  }

  .form__header {
    max-width: 85%;
    padding-left: 176px;
    padding-bottom: 24px;
  }

  .form__wrapper {
    padding-left: 114px;
  }

  .form__wrapper-fieldset {
    width: 111px;
  }

  .form__box--color {
    width: 29%;
  }

  .form__wrapper--add {
    padding-bottom: 42px;
  }

  .form__wrap-note {
    width: 803px;
  }
}
