.main-nav__toggle {
  display: none;
}

.main-nav__list {
  @include reset-list;
  font-size: 17px;
}

.main-nav__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ececec;
}

.main-header__logo {
  display: block;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 17px;
  border-bottom: 1px solid #ececec;
}

.main-nav__link {
  font-weight: 700;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 75px;
  color: #000000;
}

.main-nav__list--product {
  display: none;
}

.main-nav__link--loupe {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 32px;
    width: 21px;
    height: 18px;
    background: url("../img/icon-search.svg") 0 0 no-repeat;
  }
}

.main-nav__link--basket {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 21px;
    height: 18px;
    background: url("../img/icon-cart.svg") 0 0 no-repeat;
  }
}

.main-nav__list--delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    display: flex;
    padding: 0;
    padding-top: 21px;
    padding-bottom: 15px;
    padding-left: 50px;
  }

  .main-nav__item {
    padding: 0;
    border: none;
  }

  .main-nav__link {
    padding: 0;
  }

  .main-nav__wrapper {
    display: flex;
  }

  .main-nav__wrapper-category {
    flex-grow: 1;
  }

  .main-nav__list--category {
    display: flex;
    font-size: 15px;
    padding-left: 50px;

    background-color: #f9f9f9;
  }

  .main-nav__link--catalog {
    padding-top: 18px;
    padding-right: 35px;
  }

  .main-nav__link--knitting {
    padding-top: 18px;
  }

  .main-nav__list--user {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #ececec;
  }

  .main-nav__link--loupe,
  .main-nav__link--basket {
    padding-top: 31px;
    padding-bottom: 33px;
  }

  .main-nav__link--loupe {
    display: block;
    font-size: 0;
    padding: 50px 31px 14px 51px;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;

    &::before {
      top: 37px;
      left: 33px;
    }
  }

  .main-nav__link--basket {
    padding-right: 50px;
    padding-left: 83px;

    &::before {
      top: 35px;
      left: 30px;
    }
  }

  .main-nav__list--delivery {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    padding-top: 18px;
    padding-right: 50px;
    background-color: #f9f9f9;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    position: relative;
  }

  .main-header__logo {
    display: block;
    position: absolute;
    margin: 0 auto;
    padding: 0;
    top: 8px;
    right: 0;
    left: 0;
    border: none;
  }

  .main-nav__list--category {
    @include reset-indents;
    font-size: 17px;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
  }

  .main-nav__link--catalog,
  .main-nav__link--knitting {
    padding-top: 31px;
    padding-bottom: 33px;
  }

  .main-nav__link--catalog {
    padding-left: 50px;
    border-right: 1px solid #ececec;
  }

  .main-nav__link--knitting {
    padding-right: 35px;
    padding-left: 35px;
  }

  .main-nav__list--product {
    display: flex;
    font-size: 15px;
    background-color: #f9f9f9;
  }

  .main-nav__link-arrivals {
    padding-top: 18px;
    padding-right: 62px;
    padding-left: 50px;
  }

  .main-nav__link-sale {
    padding-top: 18px;
  }
}

// .main-nav__toggle {
//   position: relative;
//   width: 21px;
//   height: 14px;
//   border: none;
//   background-color: transparent;
// }

// // .main-nav__toggle::after {
// //   content: "";
// //   position: absolute;
// //   top: 0;
// //   left: 0;
// //   width: 21px;
// //   height: 14px;
// //   background: url("../../img/icon-menu-open.svg") 50% 0% no-repeat;
// // }
