.page-header {
  // margin-right: 30px;
  // margin-left: 30px;
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  display: block;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 17px;
  border-bottom: 1px solid #ececec;
}

