.page-footer {
  background-color: #f1f1f1;
}

.page-footer__social {
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__wrapper {
  padding-top: 26px;
  padding-bottom: 15px;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  padding-top: 26px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 52px;
  }

  .page-footer__logo {
    display: block;
    padding-right: 83px;

    &[href]:hover .page-footer__logo-image,
    &[href]:focus .page-footer__logo-image {
      fill: #46c1ae;
    }

    &[href]:active .page-footer__logo-image {
      fill-opacity: 0.3;
    }
  }

  .page-footer__social {
    padding-top: 8px;
    border: none;
  }

  .page-footer__copyright {
    @include reset-indents;
    padding-top: 6px;
  }
}
