.product {
  padding-bottom: 69px;
  // background: url("../../img/bg-zigzag-line.svg") 100% 100% no-repeat;
}

.product__title {
  font-size: 25px;
  line-height: 30px;
  @include reset-indents;
  padding: 26px 0 5px;
}

.product__week {
  @include reset-indents;
  padding-bottom: 24px;
}

.product__desc {
  @include reset-indents;
  padding-bottom: 15px;
}

.product__list {
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;
}

.product__row {
  @include reset-indents;
  line-height: 40px;
  border-bottom: 1px solid #ececec;
}

.product__field,
.product__value {
  @include reset-indents;
  text-align: left;
}

.product__field {
  padding-right: 12px;
  font-weight: 400;
}

.product__image-wrapper {
  padding-bottom: 17px;
  text-align: center;
}

.product__price {
  @include reset-indents;
  font-size: 17px;
  font-weight: $font-weight-bold;
  padding-bottom: 26px;
  text-align: center;
}

