.product-label {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
}

@media (min-width: $tablet-width) {
  .product-label {
    font-size: 17px;
    line-height: 17px;
    width: 70px;
    text-align: center;
}
}

// @media (min-width: $desktop-width) {

// }
