.reviews {
  padding-bottom: 87px;
}

.reviews__title {
  @include reset-indents;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 27px;
}

.reviews__list {
  @include reset-list;
  padding-bottom: 29px;
}

.reviews__text {
  @include reset-indents;
  line-height: 30px;
  padding-bottom: 26px;
}

.reviews__user-name {
  font-size: 17px;
  line-height: 26px;
  font-weight: $font-weight-bold;
  font-style: normal;
}

.reviews__user-nick {
  @include reset-indents;
  font-size: 17px;
  line-height: 33px;
}

.reviews__arrow-wrapper {
  display: flex;
  padding-bottom: 38px;
}

.reviews__arrow {
  @include reset-indents;
  width: 50%;
  height: 50px;
  border: 1px solid #ececec;
  background-color: transparent;
}

.reviews__arrow--prev {
  background: url("../../img/icon-left-arrow.svg") 50% 50% no-repeat;
}

.reviews__arrow--next {
  background: url("../../img/icon-right-arrow.svg") 50% 50% no-repeat;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-bottom: 115px;
    background: url("../img/review@1x.jpg") 0% 0% no-repeat;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 77px;
    padding-bottom: 49px;
  }

  .reviews__list {
    @include reset-list;
    position: relative;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 56px;
  }

  .reviews__user-name {
    font-size: 18px;
    line-height: 27px;
  }

  .reviews__arrow-wrapper {
    @include reset-list;
    position: absolute;
    right: 53px;
    bottom: 5px;
    width: 22%;
  }

  .reviews__arrow {
    border: none;
  }

  .reviews__btn {
    position: absolute;
    top: 79px;
    right: 50px;
    font-size: 17px;
    width: 23%;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-left: 175px;
    padding-bottom: 160px;
    background-position: 6% 0%;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 71px;
    padding-bottom: 49px;
  }

  .reviews__text {
    padding-right: 105px;
    padding-bottom: 37px;
  }

  .reviews__user-name {
    font-size: 17px;
  }

  .reviews__arrow-wrapper {
    width: 18%;
  }

  .reviews__btn {
    width: 18%;
  }
}
