.social__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
}

.social__item:not(:last-child) {
  padding-right: 43px;
}

@media (min-width: $tablet-width) {
  .social__list {
    @include reset-indents;
    border: none;
  }
}
