.video {
  position: relative;
  padding-bottom: 58px;
}

.video__wrapper {
  padding-top: 97px;
  border: 1px solid #ececec;
}

.video__wrapper-title {
  position: absolute;
  top: 25px;
  left: 59px;
}

.video__title {
  @include reset-indents;
  padding-left: 60px;
  position: relative;
  font-size: 17px;
  font-weight: 700;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 32px;
    height: 32px;
    background: url("../../img/icon-video.svg") no-repeat;
  }
}

.video__wrapper-video {
  position: relative;
  margin-bottom: 28px;
}

.video__image {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.video__play {
  @include reset-indents;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 76px;
  background: url("../img/icon-play.svg");
  background-color: transparent;
  border: none;
  transition: 0.3s;
  transition-timing-function: linear;


  &::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    background: url("../../img/icon-video.svg") no-repeat;
  }

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
    transition: 0.3s;
    transition-timing-function: linear;
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    transition: 0.3s;
    transition-timing-function: linear;
  }
}

.video__wrapper-info {
  padding-right: 34px;
  padding-bottom: 32px;
  padding-left: 32px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.video__desc {
  @include reset-indents;
  font-size: 13px;
  padding-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .video {
    padding-bottom: 63px;
  }

  .video__wrapper {
    @include reset-indents;
  }

  .video__wrapper-title {
    position: static;
  }

  .video__title {
    padding-top: 10px;
    padding-bottom: 32px;
    padding-left: 64px;
    font-size: 20px;

    &::before {
      top: 5px;
      left: 0;
    }
  }

  .video__title br {
    display: none;
  }

  .video__wrapper-info {
    padding-bottom: 45px;
    padding-left: 41px;
    padding-right: 41px;
  }

  .video__desc {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding-bottom: 103px;
  }

  .video__wrapper {
    display: flex;
  }

  .video__title {
    @include reset-indents;
    padding-bottom: 33px;

    &::before {
      top: -54px;
      left: 2px;
    }
  }

  .video__wrapper-video {
    margin-bottom: 0;
  }

  .video__wrapper-info {
    width: 35%;
    padding-top: 95px;
    padding-left: 78px;
    padding-right: 57px;
  }

  .video__desc {
    padding-bottom: 45px;
  }
}
