body {
  background: url("../img/mishka-index-mobile3.jpg") no-repeat 50% 0;
  // opacity: 0.2;
  min-height: 3932px;
}

@media (min-width: $tablet-width) {
  body {
    background: url("../img/mishka-index-tablet.jpg") no-repeat 50% 0;
  }
}

@media (min-width: $desktop-width) {
  body {
    background: url("../img/mishka-index-desktop.jpg") no-repeat 50% 0;
  }
}
