@import "normalize";
@import "mixins";
@import "variables";
@import "font-face";
@import "pixelperfect";
@import "blocks/btn.scss";
@import "blocks/container.scss";
@import "blocks/page-header";
@import "blocks/main-nav.scss";
@import "blocks/main-header.scss";
@import "blocks/product.scss";
@import "blocks/product-label.scss";
@import "blocks/about-us.scss";
@import "blocks/reviews.scss";
@import "blocks/slider.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/modal-basket.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";








body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  @include color;
  background-color: $bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
